<div class="row content m-0 justify-content-center">
  <div class="col-md-3"></div>
  <div class="col-md-6 mt-5">
    <div class="card">
      <img src="/assets/images/art1.jpg" class="card-img-top" alt="articulo">
      <div class="card-body">
        <h5 class="card-title mb-1">Fender Stratocaster</h5>
        <div class="row m-0 mb-4">
          <div class="col-6 p-0">
            <span class="price-span">$15,000.00</span>
          </div>
          <div class="col-6 p-0 text-right">
            <span class="distance-span mr-4">15km</span>
            <span>Tepatitlán de Morelos, Jalisco</span>
          </div>
        </div>
        <p class="card-text">Fender Stratocaster en buenas condiciones.</p>
        <div class="row m-0">
          <div class="col-6 p-0">
          </div>
          <div class="col-6 p-0 text-right">
            <div class="d-inline-block position-relative marker-holder">
              <span class="d-inline-block position-absolute marker excellent"></span>
            </div>
            <span class="ml-2">Excelente</span>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-md-3 mt-5">
    <div class="card">
      <div class="card-body text-center">
        <div class="section">
          <span class="seller-title">Información del vendedor:</span><br/>
          <div class="avatar-container d-inline-block mt-2">
            <img src="/assets/images/generic.jpg">
          </div><br/>
          <span>Ismael Perez</span>
        </div>
        <div class="section mt-3">
          <span class="seller-title">Reputación:</span><br/>
          <span class="mr-2">4.9 / 5</span>
          <div class="bar d-inline-block position-relative">
            <span class="measure-bar d-inline-block position-absolute" style="width: 96%; background-color: green"></span>
          </div>
        </div>
        <div class="section mt-3">
          <span class="seller-title">En Listas de Confianza:</span><br/>
          <span class="mr-2">4</span>
        </div>
        <div class="section mt-3">
          <span class="seller-title">Ubicación:</span><br/>
          <span class="mr-2">Tepatitlán de Morelos, Jalisco</span>
        </div>
      </div>
    </div>
  </div>
</div>
