label.section-title {
  font-size: 14px;
  font-weight: bold;
  color: #495057;
}

select {
  color: #495057;
}

label.form-check-label {
  font-size: 15px;
}

.half-input {
  width: 40%;
}

.mid-span {
  width: 10%;
}