<nav class="navbar navbar-expand-lg navbar-light py-0 py-lg-2">
  <a class="navbar-brand p-0" href="#"><img src="/assets/images/header-logo.png"></a>

  <div class="search-input text-center d-none d-lg-inline-block">
    <div class="input-group mb-3 nav-searchbar w-100">
      <div class="input-group-prepend" ngbDropdown>
        <button class="btn dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" ngbDropdownToggle>
          <ng-container *ngIf="!selectedCategory">
            Todas las categorias
          </ng-container>
          <ng-container *ngIf="selectedCategory">
            {{selectedCategory.label}}
          </ng-container>
        </button>
        <div class="dropdown-menu border-bottom" ngbDropdownMenu>
          <span (click)="selectCategory(null)" class="d-inline-block w-100 py-2">
            Todas las categorias
          </span>
          <span *ngFor="let category of categories" class="d-inline-block w-100 border-top py-2" (click)="selectCategory(category)">
            {{category.label}}
          </span>
        </div>
      </div>
      <input type="text" class="form-control" placeholder="Busqueda" [(ngModel)]="searchString" (keyup.enter)="search()">
      <div class="input-group-append">
        <button class="btn search-icon" type="button" (click)="search()"><i class="fas fa-search"></i></button>
      </div>
    </div>
  </div>


  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav ml-auto">
      <li class="nav-item active">
        <a class="nav-link" href="#"><i class="fas fa-home"></i><span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/messages"><i class="far fa-comments"></i></a>
      </li>
    </ul>

    <div class="form-inline my-2 my-lg-0 ml-4 mr-4">
      <button class="btn btn-outline-success my-2 my-sm-0" (click)="redirectToNewListing()">Vender</button>
      <button class="btn btn-outline-success my-2 my-sm-0 ml-3" 
        *ngIf="!profile"
        (click)="onOpenSignIn()"
      >
        Iniciar Sesión
      </button>
    </div>
    <ul class="navbar-nav" *ngIf="profile">
      <li class="nav-item dropdown">
        <button class="btn avatar-container p-0 border-0" 
          *ngIf="profile && profile.picture"
          id="navbarDropdown" 
          role="button" 
          data-toggle="dropdown" 
          aria-haspopup="true" 
          aria-expanded="false"
          ngbDropdownToggle
        >
          <img [src]="profile.picture" alt="profile image" *ngIf="!profile.photo_url">
          <img [src]="profile.photo_url" alt="profile image" *ngIf="profile.photo_url">
        </button>
        <div class="user-dropdown" ngbDropdownMenu aria-labelledby="headerProfileDropdown">
          <button ngbDropdownItem (click)="onViewProfile()">Perfil</button>
          <button ngbDropdownItem (click)="onSignOut()">Cerrar Sesión</button>
        </div>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" routerLink="/vender">Vender</a>
        </div>
      </li>
    </ul>
  </div>
</nav>
