<div class="row content m-0 justify-content-center">
  <div class="col-md-6 mt-5">  
    <div class="card">
      <img [src]="previewUrl" class="card-img-top" *ngIf="previewUrl" class="card-img-top" alt="articulo">
      <ngx-file-drop *ngIf="!previewUrl" dropZoneLabel="Drop files here" (onFileDrop)="dropped($event)" 
      (onFileOver)="fileOver($event)" (onFileLeave)="fileLeave($event)">
        <ng-template ngx-file-drop-content-tmp let-openFileSelector="openFileSelector">
          <!-- Optional custom content that replaces the the entire default content. -->
          <!-- <button type="button" (click)="openFileSelector()">Browse Files</button> -->
        </ng-template>
      </ngx-file-drop>
      <div class="card-body">
        <form [formGroup]="form">
          <div class="form-group">
            <label for="title">Titulo / Producto</label>
            <input type="text" class="form-control" id="title" aria-describedby="title" formControlName="title">
          </div>
          <div class="row m-0 mb-4">
            <div class="form-group col-md-6 pl-0">
              <label for="price">Precio</label>
              <input type="number" class="form-control" id="price" aria-describedby="price" formControlName="price">
            </div>
            <div class="form-group col-md-6 pr-0">
              <label for="condition">Condición</label>
              <select class="custom-select custom-select" id="condition" formControlName="condition">
                <option selected>Condición</option>
                <option value="1">Nueva</option>
                <option value="2">Excelente</option>
                <option value="3">Buena</option>
                <option value="4">Mala</option>
                <option value="5">No Funcional</option>
              </select>
            </div>
            <div class="form-group col-md-3 pl-0">
              <!-- <label for="condition">Ubicación</label><br/> -->
              <!-- <span *ngIf="cityName && stateName">{{cityName}}, {{stateName}}</span>
              <button
                *ngIf="!cityName && !stateName"
                class="btn border"
                (click)="getLocation()"
              >
                Obtener Ubicación
              </button> -->
              <label class="d-inline-block w-100 section-title font-weight-light">Estado</label>
              <select name="states"
                class="form-control custom-select mr-sm-2 w-100"
                (change)="requestStateChange($event.target.value)"
                [value]="stateId"
              >
                <option value="0" disabled>Escoge estado</option>
                <option value="1">Aguascalientes</option>
                <option value="2">Baja California</option>
                <option value="3">Baja California Sur</option>
                <option value="4">Campeche</option>
                <option value="5">Coahuila de Zaragoza</option>
                <option value="6">Colima</option>
                <option value="7">Chiapas</option>
                <option value="8">Chihuahua</option>
                <option value="9">Distrito Federal</option>
                <option value="10">Durango</option>
                <option value="11">Guanajuato</option>
                <option value="12">Guerrero</option>
                <option value="13">Hidalgo</option>
                <option value="14">Jalisco</option>
                <option value="15">México</option>
                <option value="16">Michoacán de Ocampo</option>
                <option value="17">Morelos</option>
                <option value="18">Nayarit</option>
                <option value="19">Nuevo León</option>
                <option value="20">Oaxaca</option>
                <option value="21">Puebla</option>
                <option value="22">Querétaro</option>
                <option value="23">Quintana Roo</option>
                <option value="24">San Luis Potosí</option>
                <option value="25">Sinaloa</option>
                <option value="26">Sonora</option>
                <option value="27">Tabasco</option>
                <option value="28">Tamaulipas</option>
                <option value="29">Tlaxcala</option>
                <option value="30">Veracruz de Ignacio de la Llave</option>
                <option value="31">Yucatán</option>
                <option value="32">Zacatecas</option>
              </select>
            </div>

            <div class="form-group col-md-3 pl-0">
              <!-- <label for="condition">Ubicación</label><br/> -->
              <!-- <span *ngIf="cityName && stateName">{{cityName}}, {{stateName}}</span>
              <button
                *ngIf="!cityName && !stateName"
                class="btn border"
                (click)="getLocation()"
              >
                Obtener Ubicación
              </button> -->
              <label class="d-inline-block w-100 section-title font-weight-light">Ciudad</label>
              <select *ngIf="cities"
                name="cities"
                class="form-control custom-select mr-sm-2 w-100"
                [value]="cityId"
                [disabled]="!stateId"
                (change)="cityIdChange($event.target.value)"
              >
                <ng-container *ngFor="let city of cities">
                  <option [value]="city.city_id">{{city.city_name}}</option>
                </ng-container>
              </select>
            </div>




            <div class="form-group col-md-6 pr-0">
              <label for="category">Categoria</label>
              <select class="custom-select custom-select" id="category" formControlName="category">
                <option selected>Categoria</option>
                <option value="1">Guitarras</option>
                <option value="2">Amplificadores</option>
                <option value="3">Pedales / Efectos</option>
                <option value="4">Bajos</option>
                <option value="5">Amplificadores Para Bajo</option>
                <option value="6">Pedales / Efectos Para Bajo</option>
                <option value="7">Baterias</option>
                <option value="8">Sintetizadores</option>
                <option value="9">Orquestra / Banda</option>
                <option value="10">Pro-Audio / Accesorios</option>
              </select>
            </div>
          </div>
          <textarea 
            class="form-control" 
            id="validationTextarea" 
            placeholder="Escriba descripción aqui."
            formControlName="description"
            required
          >
          </textarea>
          <div class="row m-0 mt-3 float-right">
            <button class="btn submit-button" (click)="onSave()">Publicar</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
        