<div class="row mx-0 mt-3">
  <h2 class="text-center w-100 section-title">{{'Categorias Populares' | uppercase }}</h2>
</div>
<div class="row m-4 lato-font section-title">
  <div class="col-md-2 mb-2 m-md-0">
    <div class="category-box card position-relative border-0" (click)="categoryRedirect(1)">
      <img src="/assets/images/electric-guitar.jpg" />
      <div class="card-body p-0 text-center">
        <span>Guitarras Electricas</span>
      </div>
    </div>
  </div>
  <div class="col-md-2 mb-2 m-md-0">
    <div class="category-box card position-relative border-0" (click)="categoryRedirect(4)">
      <img src="/assets/images/bass.jpg" />
      <div class="card-body p-0 text-center">
        <span>Bajos</span>
      </div>
    </div>
  </div>
  <div class="col-md-2 mb-2 m-md-0">
    <div class="category-box card position-relative border-0" (click)="categoryRedirect(2)">
      <img src="/assets/images/amp.jpg" />
      <div class="card-body p-0 text-center">
        <span>Amplificadores</span>
      </div>
    </div>
  </div>
  <div class="col-md-2 mb-2 m-md-0">
    <div class="category-box card position-relative border-0" (click)="categoryRedirect(3)">
      <img src="/assets/images/pedals.jpg" />
      <div class="card-body p-0 text-center">
        <span>Pedales y Efectos</span>
      </div>
    </div>
  </div>
  <div class="col-md-2 mb-2 m-md-0">
    <div class="category-box card position-relative border-0" (click)="categoryRedirect(7)">
      <img src="/assets/images/drums.jpg" />
      <div class="card-body p-0 text-center">
        <span>Baterias</span>
      </div>
    </div>
  </div>
  <div class="col-md-2">
    <div class="category-box card position-relative border-0" (click)="categoryRedirect(9)">
      <img src="/assets/images/trumpet.jpg" />
      <div class="card-body p-0 text-center">
        <span>Banda</span>
      </div>
    </div>
  </div>
</div>

<div class="row m-5 mt-0 divider">
<!-- 
</div>

<div class="row m-4">
    <div class="col-md-2">
      <div class="category-box card position-relative border-0">
        <img src="/assets/images/synth.jpg" />
        <div class="card-body p-0 text-center">
          <span>Teclados/Sentitizadores</span>
        </div>
      </div>
    </div>
    <div class="col-md-2">
      <div class="category-box card position-relative border-0">
        <img src="/assets/images/sax.jpg" />
        <div class="card-body p-0 text-center">
          <span>Banda/Orquestra</span>
        </div>
      </div>
    </div>
    <div class="col-md-2">
      <div class="category-box card position-relative border-0">
        <img src="/assets/images/mixer.jpg" />
        <div class="card-body p-0 text-center">
          <span>Mezcladoras</span>
        </div>
      </div>
    </div>
    <div class="col-md-2">
      <div class="category-box card position-relative border-0">
        <img src="/assets/images/mics.jpg" />
        <div class="card-body p-0 text-center">
          <span>Microfonos</span>
        </div>
      </div>
    </div>
    <div class="col-md-2">
      <div class="category-box card position-relative border-0">
        <img src="/assets/images/turntable.jpg" />
        <div class="card-body p-0 text-center">
          <span>Equipo de DJ</span>
        </div>
      </div>
    </div>
    <div class="col-md-2">
      <div class="category-box card position-relative border-0">
        <img src="/assets/images/audio.jpg" />
        <div class="card-body p-0 text-center">
          <span>Pro-Audio / Accesorios</span>
        </div>
      </div>
    </div>
  </div> -->
