/* You can add global styles to this file, and also import other style files */
html {
  // height: 100%;
}

html, body {
  width: 100%;
  height: 100%;
  overflow: auto;
}

body {
  padding-top: 56px;
  background-image: url("/assets/images/art1.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
  font-family: 'Roboto', sans-serif;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Lato', sans-serif;
  font-weight: 300;
}

.section-title {
  color: #25282b;
}

.lato-font {
  font-family: 'Lato', sans-serif;
}

// body::after {
//   content: "";
//   display: block;
//   position: fixed;
//   top: 0;
//   left: 0;
//   z-index: 0;
//   height: 100%;
//   width: 100%;
//   background-color: rgba(255, 254, 249, 0.95);
// }

.content {
  // background-image: url("/assets/images/art1.jpg");
  // background-size: cover;
  // background-repeat: no-repeat;

  // .background-overlay {
  //   background-color: rgba(255, 254, 249, 0.95);
  // }
  // height: 100%;
  // overflow: auto;
  position: relative;
  z-index: 100;
  // background-color: rgba(255, 254, 249, 0.95);
  background-color: rgba(255, 255, 255, 0.97);
  min-height: 100%;
  padding-bottom: 56px;
}

.card-img-top {
  height: 500px;
  width: auto;
  object-fit: cover;
}